.login__block {
	width: 500px;
	margin: 0 auto;
	background-color: #ddd;
	border: 3px solid #888;
	padding: 30px;
	box-sizing: border-box;
}

.login__block legend {
	font-weight: bold;
	color: #555555;
	font-size: 25px;
}

.login__block > div {
	margin-bottom: 20px;
}

.login__block p {
	margin: 0 0 5px 0;
}

.login__block input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 0.25rem;
	border: none;
	outline: none;
	font-size: 16px;
}

.login__block input[type="text"],
.login__block input[type="password"] {
	border: 2px solid #3490dc;
}

.login__block input[type="button"] {
	cursor: pointer;
	background-color: #3490dc;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}

.errorsBox {
	color: red;
}
